html {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body{
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  word-wrap: break-word;
  width: 100%;
}

.main {
  background-color: #f5f3f6;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.title {
  font-family: 'Raleway', sans-serif;
  color: #20242b;
  margin-top: 80px;
  text-transform: uppercase;
  border: 3px solid #4e4e50;
  font-size: 2.5em;
  padding: 20px 0;
}

.sub-title{
  margin-top: 30px;
  text-transform: uppercase;
  color: #20242b;
  font-weight: 900;
  font-size: 3em;
  font-family: 'Open Sans';
  letter-spacing: 0.15em
}

.image{
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: url("../images/avatar.png");
}

.image:hover {
  background: url("../images/avatar.gif");
}

.short-info {
  margin-top: 30px;
  color: #575759;
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #cdcdcf;
}

.left {
  border-right: 1px solid #cdcdcf;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.right {
  padding-left: 50px;
  padding-right: 50px;
}

.center{
  text-align: center;
}

.content{
  margin-top: 60px;
}

.inform{
  margin-bottom: 40px;
}

.space {
  word-spacing: 20px;
}

.header-type-one {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

.content-type-one {
  margin-top: 15px;
  font-size: 1em;
  color: #575759;
}

.default {
  text-decoration: none;
  color: inherit;
}

.default:hover {
  text-decoration: none;
  color: #008afb;
}

.timeline-header{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.timeline-data{
  margin-bottom: 15px;
}

.timeline-sub-header{
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.timeline-info{
  margin-bottom: 30px;
}

.footer{
  margin-top: 30px;
  border-top: 1px solid #cdcdcf;
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-left{
  padding-left: 50px;
}

.bottom-rigth{
  padding-right: 50px;
}

.bottom-info{
  text-align: center;
  margin-bottom: 20px;
}

.footer-header {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-info{
  font-size: 0.8em;
}

@media screen and (min-width: 992px) and (max-width: 1200px)  {
  .main{
    width: 80%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px)  {
  .main{
    width: 100%;
    margin-top: 0px;
  }
}
@media screen and (max-width: 576px){
  .main {
    width: 100%;
    margin-top: 0px;
  }
  .left, .right, .bottom-left, .bottom-rigth{
    padding-left: 30px;
    padding-right: 30px;
  }
}
